<!DOCTYPE html>
<html>
    <head>
          <title>All Posts by User</title>
          </head>
          <body>  
            <h1>All Posts by User</h1>
              <ul>    
                <li>Post 1</li>    
                <li>Post 2</li>  
                </ul>
                </body>
                </html>